<div class='row'>
	<div class='text-center'>
	<input type="text" placeholder="noun" ng-model="noun1"/>
	<input type="text" placeholder="noun" ng-model="noun2"/>
	<input type="text" placeholder="noun" ng-model="noun3"/>
	<input type="text" placeholder="adjective" ng-model="adjective1"/>
	<input type="text" placeholder="adjective" ng-model="adjective2"/>
	<input type="text" placeholder="verb" ng-model="verb1"/>
	<input type="text" placeholder="verb" ng-model="verb2"/>

	<button ng-click="save('/Views/outputView')">Submit</button>
	</div>
</div>